<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	
    <session-factory>
       	<!-- Properties -->
       	<property name="show_sql">false</property>
       	<property name="hibernate.format_sql">false</property>
      	<property name="hibernate.generate_statistics">false</property>
		<property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">RezeptMysql</property>
        
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RECIPEDB</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
   		<property name="transaction.auto_close_session">false</property>
   		
   		<!--  Mapping files --> 
   		<mapping resource="City.hbm.xml"/>
   		<mapping resource="ComposedOf.hbm.xml"/>
   		<mapping resource="Country.hbm.xml"/>
   		<mapping resource="FavoriteRecipe.hbm.xml"/>
   		<mapping resource="Friend.hbm.xml"/>
   		<mapping resource="Ingredient.hbm.xml"/>
   		<mapping resource="IngredientType.hbm.xml"/>
		<mapping resource="Rating.hbm.xml"/>
   		<mapping resource="Recipe.hbm.xml"/>
    	<mapping resource="Region.hbm.xml"/> 
    	<mapping resource="User.hbm.xml"/> 
    	
    </session-factory>
     
   
</hibernate-configuration>
